name: Rebuild site

on:
  schedule:
    - cron: "50 * * * *" # Every 20 minutes
    - cron: "10 * * * *" 
    - cron: "30 * * * *" 


  workflow_dispatch:

jobs:
  trigger-webhook:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Trigger Webhook
        env:
          WEBHOOK_URL: ${{ secrets.VERCEL_DEPLOY_HOOK }}
        run: |
          curl -X POST "$WEBHOOK_URL"
