name: Rebuild site

on:
  schedule:
    - cron: "35 * * * *" # Every 20 minutes
    # - cron: "0 0 * * *" # Every day at 00:00 (UTC)

  workflow_dispatch:

jobs:
  trigger-webhook:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Trigger Webhook
        env:
          WEBHOOK_URL: ${{ secrets.VERCEL_DEPLOY_HOOK }}
        run: |
          curl -X POST "$WEBHOOK_URL"
